h1 {
    color:#4aaaa5;
    background-color:#ffffff;
    border: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color:#777777;
    background: #ffffff;
    border: 2px solid #dddddd;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background-image:url('../images/full-bloom.png'); 
  background-size:cover;
}