/* * {
    position:relative; 
    box-sizing:border-box; 
    
} */

body {
    background-image:url('../images/full-bloom.png'); 
    background-size:cover;
    margin: 30px;
    float:left; 
    display:flex; 
    flex-direction:column;
  }

h1 {
    color:#ffffff;
    border: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#4aaaa5;;
    float: left;
    padding:20px;
    margin-left:20px;
    margin-top:20px;
    
}
a {
    margin-right: 10px;
    
}


a:link {
    color:pink; 
}
a:visited {
    color: mediumslateblue;
}
a:hover {
    color: white;
    background-color:yellowgreen;
}
a:active {
    color: midnightblue;
}

.navbar {
    width:960px;
    background-color: #ffffff; 
    height:78px;
}

br {
    border-bottom: 2px solid black;
}
#contact {
    margin-right: 2px solid #777777;
}
h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    clear:both; 
    padding:20px
    
}
hr {
    padding:0;
    margin:0; 
    max-width: 960px;
} 

.paragraphHR {
    width:760px;
    margin-left: 50px;
    margin-bottom:20px;
}
/* img {
    padding:20px;
    display:inline-block; 

} */
#whiteSpace {
    max-width:860px;
    background-color: #ffffff;
    margin-top:30px; 
    margin-left:50px;
    margin-right:50px; 


}
/* .container {
    background-color:#ffffff;
    overflow:auto;
    margin: auto;

} */
/* 
.container::after {
    content:"";
    clear:both;
    display:table;
} */
/* .whitespace {
    background-color: #ffffff;
} */

img {
    padding: 0px 0px 20px 20px;
    display:inline-block; 
    
}

p {
    color:#777777;
    background: #ffffff;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float:right;
    display:block;
    text-align: justify; 
    height:100px; 
    width:50%;

}

.aboveFooter {
    position:fixed; 
    bottom:68px; 
    margin-top: 70px;
    width:960px; 
    height: 10px;
    background-color:#4aaaa5;

}

.footer {
    background-color:#777777;
    position:absolute; 
    bottom: 0; 
    border-top: 8px solid #4aaaa5;
    height:30px;  
}

label {
    margin-left: 20px; 
}

navPosition {
    width: 960px; 
}

.row {
    display: flex; 
    flex-wrap:wrap; 
    padding:0 4px
}

.column {
    float: 50%;
    padding:0 4px; 
}

.column img {
    margin-top: 8px
}

.navbar-brand {
    background-color: #4aaaa5;
}

